@import '@/shared/styles/mixins.scss';

.list {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
    grid-row-gap: 1rem;
}

.block {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 0.5rem;
    padding: 1rem;
    background: var(--accent-color);
    border-radius: 0.5rem;

    @include desktop {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 0.5rem;
    }
}

.blockFirst {
    height: auto;
    @include desktop {
        height: 250px;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0;
    }
}

.blockSecond {
    height: auto;
    @include desktop {
        height: 900px;
        grid-template-columns: repeat(2, calc(50% - 0.25rem));
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;
    }
}

.blockSecond > :first-child {
    min-height: 500px;
    grid-column: auto;

    @include desktop {
        grid-column: span 2;
    }
}

.blockThird {
    height: auto;

    @include desktop {
        height: 600px;
        grid-template-columns: repeat(2, calc(50% - 0.25rem));
        grid-template-columns: calc(66.666% - 0.25rem) 1fr;
        grid-template-rows: repeat(2, calc(50% - 0.25rem));
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;
    }
}

.blockThird > :first-child {
    grid-row: auto;

    @include desktop {
        grid-row: span 2;
    }
}

.card {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 1px solid var(--highlight-color);
    background: var(--content-color);
    margin: 0 auto;
    max-width: 500px;
    overflow: hidden;
    border-radius: 10px;
    padding: 1rem;

    @include desktop {
        max-width: none;
    }
}
