{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:cypress/recommended"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "overrides": [],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": ["react", "@typescript-eslint", "cypress"],
    "rules": {
        "react/react-in-jsx-scope": "off",
        "@typescript-eslint/no-unused-vars": [
            "error",
            { "argsIgnorePattern": "^_" }
        ],

        "no-console": "error",
        "no-var": "error",
        "@typescript-eslint/ban-types": "off",
        "import/prefer-default-export": "off",
        "react/jsx-no-useless-fragment": "error",
        "prefer-const": "warn",
        "no-unused-vars": "error",
        "react/prop-types": "off",
        "@ts-expect-error": "off",
        "no-unused-expressions": "error",
        "indent": "off",
        "prettier/prettier": [
            "warn",
            {
                "endOfLine": "auto",
                "tabWidth": 4,
                "trailingComma": "none"
            }
        ]
    }
}
