.modal {
    max-height: 100dvh;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    svg:last-child {
        color: var(--highlight-color);
        cursor: pointer;
    }
}
