.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--highlight-color);
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    position: relative;
}
