@import '@/shared/styles/mixins.scss';

.layout {
    max-height: 100%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    background: var(--primary-color);
    border-radius: 10px;

    @include responsive-padding(0.5rem, 0.5rem, 0.5rem, 0.5rem);

    .content {
        width: 100% !important;
        background: var(--accent-color);
        border-radius: 10px;
    }

    .sider {
        background: var(--accent-color);
        border-radius: 10px 0 0 10px;
        background: transparent;
    }
}
