@import '@/shared/styles/mixins.scss';

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333333;

    .content {
        max-width: 500px;
        width: 100%;

        @include responsive-padding(1rem, 1rem, 1rem, 1rem);

        .alternateAction {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: start;
            align-items: center;

            .alternateAction__link {
                text-decoration: underline;
            }
        }
    }
}
