@import './minireset.min.scss';
@import './reset.scss';
@import './mixins.scss';
@import './global.scss';

@font-face {
  font-family: 'Blomberg';
  font-style: normal;
  font-weight: 400;
  src: url('@/shared/assets/fonts/Blomberg-8MKKZ.otf') format('opentype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('@/shared/assets/fonts/Nunito-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('@/shared/assets/fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('@/shared/assets/fonts/Nunito-Bold.ttf') format('truetype');
}

html,
body {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

html {
  font-family: Nunito;
  font-weight: 400;
  font-size: 16px;
}

body {
  font-size: 1rem;

  @include tablet {
  }

  @include desktop {
  }
}
