@import './minireset.min.scss';
@import './reset.scss';
@import './mixins.scss';
@import './global.scss';

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('@/shared/assets/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('@/shared/assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('@/shared/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('@/shared/assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('@/shared/assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('@/shared/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

html,
body {
    height: 100dvh;
    min-height: 100dvh;
    max-height: 100dvh;
    user-select: none;
}

html {
    font-family: Nunito;
    font-weight: 400;
    font-size: 16px;
}

body {
    line-height: 1.2;
    overflow: hidden;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--content-color);

    @include responsive-font-size(1rem);
}

body > div {
    height: 100%;
}

hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
