:root {
    --permanent-light: #ffffff;
    --permanent-dark: #333333;
}

html[data-theme='light'] {
    --primary-color: #ffffff;
    --accent-color: #dedee1;
    --content-color: #626265;
    --highlight-color: #1b1b1e;
    --link-color: #b88b58;

    --shadow-color: rgba(0, 0, 0, 0.48);
    --shadow-color-strong: rgba(0, 0, 0, 0.72);
    --shadow-color-light: rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] {
    --primary-color: #1b1b1e;
    --accent-color: #454547;
    --content-color: #bababe;
    --highlight-color: #ffffff;
    --link-color: #b88b58;

    --shadow-color: rgba(255, 255, 255, 0.16);
    --shadow-color-strong: rgba(255, 255, 255, 0.24);
    --shadow-color-light: rgba(255, 255, 255, 0.1);
}

:global {
    .ant-layout {
        font-family: Roboto, Arial, Helvetica, sans-serif;
        line-height: 1.2;
    }

    .ant-menu {
        background: transparent;
    }

    .ant-menu-light.ant-menu-root.ant-menu-inline {
        border-inline-end: none;
    }

    .ant-menu.ant-menu-sub.ant-menu-vertical {
        box-shadow:
            0 6px 16px 0 var(--shadow-color),
            0 3px 6px -4px var(--shadow-color-strong),
            0 9px 28px 8px var(--shadow-color-light);
    }

    .ant-btn {
        background: var(--content-color);
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }

    .ant-btn:hover {
        background: var(--content-color);
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }

    .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
        background: var(--content-color);
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }

    .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active {
        background: var(--primary-color);
        color: var(--highlight-color);
        border: 1px solid var(--highlight-color);
    }

    .ant-btn-default.ant-btn-icon-only.ant-input-search-button {
        svg {
            color: var(--primary-color);
        }
    }

    .ant-btn-default.ant-btn-icon-only.ant-input-search-button:active {
        svg {
            color: var(--highlight-color);
        }
    }

    .ant-pagination-item a {
        color: var(--highlight-color) !important;
    }

    .ant-pagination .ant-pagination-item-active {
        border-color: var(--primary-color);
    }

    .ant-pagination-item-active a {
        color: var(--primary-color) !important;
    }

    .ant-pagination-item-active:hover {
        border-color: var(--primary-color) !important;
    }

    .anticon.anticon-double-right.ant-pagination-item-link-icon {
        color: var(--highlight-color);
        svg {
            color: var(--highlight-color);
        }
    }

    .ant-pagination-item-container .ant-pagination-item-ellipsis {
        color: var(--highlight-color) !important;
    }

    .ant-pagination-next,
    .ant-pagination-prev {
        svg {
            color: var(--highlight-color) !important;
        }
    }

    .ant-modal .ant-modal-content {
        @include responsive-padding(0.5rem, 0.5rem, 0.5rem, 0.5rem);
    }

    .ant-image {
        height: 100%;
    }

    .ant-alert-info {
        background-color: var(--primary-color);
        border: 1px solid var(--highlight-color);
        color: var(--highlight-color);
        .ant-alert-message,
        .ant-alert-description {
            color: var(--highlight-color);
        }
    }

    .ant-card {
        background: var(--primary-color);
        color: var(--highlight-color);
        border: 1px solid var(--highlight-color);

        .ant-card-meta {
            color: var(--highlight-color);

            .ant-card-meta-avatar {
                .ant-avatar.ant-avatar-circle {
                    border: 1px solid var(--highlight-color);
                }

                svg {
                    color: var(--highlight-color);
                }
            }

            .ant-card-meta-detail {
                .ant-card-meta-title,
                .ant-card-meta-description {
                    color: var(--highlight-color);
                    font-family: Roboto, Arial, Helvetica, sans-serif;
                }

                .ant-card-meta-title {
                    font-family: Montserrat, Arial, Helvetica, sans-serif;
                }
            }
        }
    }

    .ant-result-subtitle,
    .ant-result-title,
    .ant-result.ant-result-subtitle {
        color: var(--highlight-color) !important;
    }
}
