.filter {
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
    padding: 0.4rem;
    background: var(--primary-color);
    color: var(--highlight-color);
    transition:
        color 0.3s ease,
        background 0.3s ease;
    .filter__text {
        display: flex;
        align-items: center;
    }

    svg {
        height: 100%;
        width: 100%;
        transform: rotate(-180deg);
        transition: transform 0.3s ease;
    }
}

.filterActive {
    color: var(--primary-color);
    background: var(--highlight-color);
    transition:
        color 0.3s ease,
        background 0.3s ease;
    svg {
        height: 100%;
        width: 100%;
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }
}
