@import '@/shared/styles/mixins.scss';

.card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-color: var(--highlight-color) 0.3;
    background: var(--content-color);
    margin: 0 auto;
    max-width: 500px;
    overflow: hidden;
    border-radius: 10px;
    filter: none;
    transition: filter 0.5s ease;
    max-height: 250px;
    height: 250px;
    font-family: Roboto, Arial, Helvetica, sans-serif;

    @include desktop {
        max-width: none;
        max-height: none;
        height: auto;
    }

    .card__text {
        color: var(--permanent-light);
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(
            -180deg,
            rgba(0, 0, 0, 0) 7%,
            rgba(0, 0, 0, 0.08) 12%,
            rgba(0, 0, 0, 0.16) 17%,
            rgba(0, 0, 0, 0.22) 21%,
            rgba(0, 0, 0, 0.32) 26%,
            rgba(0, 0, 0, 0.42) 32%,
            rgba(0, 0, 0, 0.52) 38%,
            rgba(0, 0, 0, 0.62) 47%,
            rgba(0, 0, 0, 0.72) 57%,
            rgba(0, 0, 0, 0.82) 65%
        );
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 0.5rem;

        @include responsive-padding(2rem, 0.5rem, 0.5rem, 0.5rem);

        .card__news {
            @include responsive-font-size(0.8rem);
            text-transform: uppercase;
            color: var(--link-color);
            font-weight: 700;
            display: block;
            width: fit-content;
        }

        .card__title {
            font-family: Montserrat;
            font-weight: 700;
            display: block;
        }

        .card__date {
            display: block;
            color: var(--permanent-dark) 0.5;
            opacity: 0.5;
            @include responsive-font-size(0.8rem);
        }
    }
}

.card:hover {
    filter: brightness(85%);
    transition: filter 0.5s ease;
}

.columnCard {
    @include desktop {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 70% auto;
        .card__text {
            bottom: 0;
            height: 100%;
            position: relative;
            background: var(--primary-color);
            color: var(--highlight-color);
            gap: 0.5rem;

            @include responsive-padding(0.5rem, 0.5rem, 0.5rem, 0.5rem);

            .card__date {
                color: var(--highlight-color);
            }
        }
    }
}

.rowCard {
    height: 100%;
    @include desktop {
        max-height: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 40% 1fr;
        grid-template-rows: 100%;

        .card__text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            bottom: 0;
            height: 100%;
            position: relative;
            background: var(--primary-color);
            color: var(--highlight-color);
            gap: 0.5rem;

            @include responsive-padding(0.5rem, 0.5rem, 0.5rem, 0.5rem);

            .card__date {
                color: var(--highlight-color);
            }
        }
    }
}
